In [3]:
import pandas as pd
import numpy as np


longterm = 'GHA_2008_MGFERE_v01_M_Stata8/r7tomerge.dta'
all_data = 'GHA_2008_MGFERE_v01_M_Stata8/ReplicationDataGhanaJDE.dta'

data_longterm = pd.read_stata(longterm)
data_all = pd.read_stata(all_data)

In [2]:
data_longterm

         sheno  realfinalprofit  accept  surviver7  totalK  wave
0    110101604      1660.000000       1          1  4650.0     7
1    110101605       597.599976       1          1  1860.0     7
2    110101611      1460.800049       1          1     0.0     7
3    110201003              NaN       1          1   940.0     7
4    110201004              NaN       1          1  1394.0     7
..         ...              ...     ...        ...     ...   ...
788  370802602              NaN       1          1   440.0     7
789  370802603              NaN       1          1   157.0     7
790  370802604              NaN       1          1   160.0     7
791  370802606              NaN       1          1   750.0     7
792  370802607              NaN       1          1   310.0     7

[793 rows x 6 columns]

In [9]:
set(data_all.wave)

{1, 2, 3, 4, 5, 6}